.c-challenge-header
  .btn-group.pull-right
    button.c-challenge-actions-button.btn.btn-default.dropdown-toggle(
        data-toggle="dropdown", title="Challenge actions")
      i.icon-menu
      |  Actions
      i.icon-down-dir
    ul.c-challenge-actions-menu.dropdown-menu.pull-right(role="menu")
      li(role="presentation")
        a(href=humanLink) #[i.icon-link] Human-readable link
      if challenge.getAccessLevel() >= AccessType.WRITE
        li.divider(role="presentation")
        li(role="presentation")
          a.c-edit-challenge(role="menuitem") #[i.icon-edit] Edit info
      if challenge.getAccessLevel() >= AccessType.ADMIN
        li.divider(role="presentation")
        li(role="presentation")
          a.c-challenge-access-control(role="menuitem", href=`#challenge/${challenge.id}/access`)
            i.icon-lock
            | Access control
        li(role="presentation")
          a.c-delete-challenge(role="menuitem")
            i.icon-trash
            | Delete challenge

  .c-challenge-title= challenge.get('name')
  .c-challenge-organizers= challenge.get('organizers')
  .c-challenge-description= challenge.get('description')

.c-challenge-timeline-container

.c-overview-container
  .c-section-header
    | Overview
    if challenge.getAccessLevel() >= AccessType.WRITE
      a.c-edit-instructions(
        href=`#challenge/${challenge.id}/instructions`): i.icon-pencil
  .c-challenge-instructions-container

.c-challenge-phase-container
