.c-challenge-list-header
  form.c-challenge-search-form.form-inline(role="form")
    .form-group
      select.c-challenges-filter.form-control.input-sm
        option(value="all", selected=(timeframe === 'all')) All challenges
        option(value="active", selected=(timeframe === 'active')) Active challenges
        option(value="upcoming", selected=(timeframe === 'upcoming')) Upcoming challenges
    .form-group.c-challenges-search-container

  if currentUser
    a.c-challenge-create-button.btn.btn-sm.c-tooltip(
        title="Create new challenge", href="#challenge/new")
      i.icon-plus

.c-challenge-cards-container
  each challenge in challenges
    .c-challenge-card
      .c-thumbnail-container
        a.c-challenge-link.c-thumbnail-link(href=`#challenge/${challenge.id}`)
          img.c-challenge-image(src=challenge.getThumbnailUrl())
          .c-thumbnail-overlay
            if challenge.getAccessLevel() >= AccessType.WRITE
              a.c-edit-thumbnail.c-tooltip(title="Change thumbnail", href=`#challenge/${challenge.id}/thumbnail`)
                i.icon-pencil
      .c-card-bottom
        a.c-challenge-link.c-text-link(href=`#challenge/${challenge.id}`, title=challenge.name())
          = challenge.name()
          span.c-text-fade
        .c-challenge-organizers(title=challenge.get('organizers'))
          | #{challenge.get('organizers')} &nbsp;
          span.c-text-fade

  .c-challenge-pagination
