- var hasSubmissions = submissions.length > 0
- var hasSuccessfulSubmission = false
- var endOfSubmissions = !submissions.hasNextPage()
- var successText = JobStatus.text(JobStatus.SUCCESS)
- var enableOrganization = phase.enableOrganization()
- var enableOrganizationUrl = phase.enableOrganizationUrl()
- var enableDocumentationUrl = phase.enableDocumentationUrl()

.c-user-submissions-panel.panel.panel-default
  .c-user-submissions-user-info.panel-heading.clearfix
    i.icon-user
    span.c-user-name= user.name()
    a.c-user-login(href=`#user/${user.id}`)= user.get('login')
    if user.has('email')
      - var email = user.get('email')
      a.c-user-email(href=`mailto:${email}`)= email
    span.c-user-submissions-pagination.pull-right

  if hasSubmissions
    table.table.table-striped.table-condensed.c-user-submissions-table
      thead
        tr
          th Title
          if enableOrganization
            th Organization
          if enableDocumentationUrl
            th Documentation
          th Latest
          th Status
          th Date
          th Score
          th
      tbody
        each submission in submissions.models
          - var hasScore = submission.has('overallScore')
          - var date = moment(submission.get('created'))
          - var dateStr = date.format('ddd, D MMM YYYY, h:mm:ss a')
          tr
            td.c-submission-title
              a(href=`#submission/${submission.id}`)= submission.get('title') || '--'
            if enableOrganization
              td.c-submission-organization
                if enableOrganizationUrl && submission.get('organizationUrl')
                  a(href=submission.get('organizationUrl'))= submission.get('organization') || '--'
                else
                  = submission.get('organization') || '--'
            if enableDocumentationUrl
              td.c-submission-documentation
                if submission.get('documentationUrl')
                  a(href=submission.get('documentationUrl'))
                    i.icon-doc-text
                else
                  | --
            td.c-submission-latest
              if submission.get('latest')
                i.icon-ok
            td.c-submission-status
              if hasScore
                - hasSuccessfulSubmission = true
                if siteAdmin
                  a(href=`#job/${submission.get('jobId')}`)= successText
                else
                  = successText
              else
                - var job = jobs !== undefined && jobs[submission.get('jobId')]
                if job
                  a.c-job-log-tooltip(
                    href=`#job/${submission.get('jobId')}`, title=getShortLog(job, 5))= JobStatus.text(job.get('status'))
            td.c-submission-date= dateStr
            td.c-submission-score
              if hasScore
                a.c-score-link(
                    href=`#submission/${submission.id}`)= (Math.round(submission.get('overallScore') * 1000) / 1000).toFixed(3)
            td.dropdown.c-submission-actions
              button.btn.btn-default.btn-xs.dropdown-toggle(
                type="button", data-toggle="dropdown")
                | Actions&nbsp;
                span.caret
              ul.dropdown-menu.dropdown-menu-right
                li.c-submission-download
                  a(href=submission.downloadUrl())
                    i.icon-download
                    | Download data
                li.c-submission-json
                  a.c-submission-json-link.c-tooltip(c-submission-id=submission.id)
                    i.icon-list-alt
                    | Dump to console as JSON
                li.divider
                li.c-submission-delete
                  a.c-submission-delete-link.c-tooltip(c-submission-id=submission.id)
                    i.icon-trash
                    | Delete submission
  if !hasSubmissions || !hasSuccessfulSubmission || (hasSubmissions && endOfSubmissions)
    .c-user-submissions-footer.panel-footer
      if !hasSubmissions
        .c-no-submit.text-warning
          i.icon-attention
          |  No submissions
      else if !hasSuccessfulSubmission
        .c-no-success.text-danger
          i.icon-cancel
          |  No successful submissions on this page
      if hasSubmissions && endOfSubmissions
        | &ndash; end of submissions &ndash;
