table.c-leaderboard-table
  thead
    tr
      th.c-rank Rank
      th User
      th Title
      th Date
      th Score
  tbody
    - var i = 1
    each submission in submissions
      tr.c-stripe(stripe="#{(i + start) % 2 ? 'even' : 'odd'}")
        td.c-rank= i + start
        td
          a.c-user-link(
            user-id="#{submission.get('creatorId')}")= submission.get('creatorName')
        td= submission.get('title') || '--'
        - var date = moment(submission.get('created'))
        - var dateStr = date.format('ddd, D MMM YYYY, h:mm:ss a')
        - var dateFromNow = date.fromNow()
        td(title="#{dateStr} (#{dateFromNow})")= dateStr
        td
          a.c-score-link(
            href="#submission/#{submission.get('_id')}")= Math.round(submission.get('overallScore') * 1000) / 1000
            span.c-score-icon-container
              i.icon-angle-circled-right
      - i ++

.c-leaderboard-pagination
