- var phaseAdmin = phase.getAccessLevel() >= AccessType.ADMIN
- var enableOrganization = phase.get('enableOrganization')
- var enableOrganizationUrl = phase.get('enableOrganizationUrl')
- var enableDocumentationUrl = phase.get('enableDocumentationUrl')

table.table.table-striped.table-condensed.c-leaderboard-table
  thead
    tr
      th.c-rank Rank
      th User
      th Title
      if enableOrganization
        th Organization
      if phaseAdmin && enableDocumentationUrl
        th Documentation
      th Date
      th Score
  tbody
    - var i = 1
    each submission in submissions
      tr.c-stripe(stripe=((i + start) % 2 ? 'even' : 'odd'))
        th.c-rank= i + start
        td
          if phaseAdmin
            a.c-user-link(
              href=`#user/${submission.get('creatorId')}`)= submission.get('creatorName')
          else
            = submission.get('creatorName')
        td= submission.get('title') || '--'
        if enableOrganization
          td
            if phaseAdmin && enableOrganizationUrl && submission.get('organizationUrl')
              a.c-organization-link(
                href=submission.get('organizationUrl'))= submission.get('organization') || '--'
            else
              = submission.get('organization') || '--'
        if phaseAdmin && enableDocumentationUrl
          td
            if submission.get('documentationUrl')
              a.c-documentation-link(href=submission.get('documentationUrl'))
                i.icon-doc-text
            else
              | --
        - var date = moment(submission.get('created'))
        - var dateStr = date.format('ddd, D MMM YYYY, h:mm:ss a')
        - var dateFromNow = date.fromNow()
        td(title=`${dateStr} (${dateFromNow})`)= dateStr
        td
          a.c-score-link(href=`#submission/${submission.id}`)= submission.displayScore
            span.c-score-icon-container
              i.icon-angle-circled-right
      - i ++

.c-leaderboard-pagination
