- var phaseAdmin = phase.getAccessLevel() >= AccessType.ADMIN
- var enableOrganization = phase.enableOrganization()
- var enableOrganizationUrl = phase.enableOrganizationUrl()
- var enableDocumentationUrl = phase.enableDocumentationUrl()

table.table.table-striped.table-condensed.c-leaderboard-table
  thead
    tr
      th.c-rank Rank
      th User
      th Title
      if enableOrganization
        th Organization
      if enableDocumentationUrl
        th Documentation
      th Date
      th Score
  tbody
    - var i = 1
    each submission in submissions
      - var rank = i + start;
      tr.c-stripe(stripe=(rank % 2 ? 'even' : 'odd'))
        th.c-rank= rank
        td
          - var approachString = submission.get('approach') === 'default' ? '' : ` (${submission.get('approach')})`
          if phaseAdmin
            a.c-user-link(
              href=`#user/${submission.get('creatorId')}`)= submission.get('creatorName')
            = approachString
          else
            = `${submission.get('creatorName')}${approachString}`
        td= submission.get('title') || '--'
        if enableOrganization
          td
            if enableOrganizationUrl && submission.get('organizationUrl')
              a.c-organization-link(
                href=submission.get('organizationUrl'))= submission.get('organization') || '--'
            else
              = submission.get('organization') || '--'
        if enableDocumentationUrl
          td
            if submission.get('documentationUrl')
              a.c-documentation-link(href=submission.get('documentationUrl'))
                i.icon-doc-text
            else
              | --
        - var date = moment(submission.get('created'))
        - var dateStr = date.format('ddd, D MMM YYYY, h:mm:ss a')
        - var dateFromNow = date.fromNow()
        td(title=`${dateStr} (${dateFromNow})`)= dateStr
        td
          a.c-score-link(href=`#submission/${submission.id}`)= submission.displayScore
            span.c-score-icon-container
              i.icon-angle-circled-right
      - i ++

.c-leaderboard-pagination
