.c-challenge-list-header
  .c-challenge-pagination
  form.c-challenge-search-form.form-inline(role="form")
    .form-group.c-challenges-search-container

  if admin
    button.c-challenge-create-button.btn.btn-sm.btn-default
      i.icon-plus-squared
      |  New challenge

.c-challenge-cards-container
  each challenge in challenges
    .c-challenge-card
      .c-thumbnail-container
        a.c-challenge-link.c-thumbnail-link(c-challenge-cid=challenge.cid)
          img.c-challenge-image(src=challenge.getThumbnailUrl())
          .c-thumbnail-overlay
      .c-card-bottom
        a.c-challenge-link.c-text-link(
          c-challenge-cid=challenge.cid title=challenge.name())
            | #{challenge.name()}
            span.c-text-fade
        .c-challenge-organizers(title=challenge.get('organizers'))
          | #{challenge.get('organizers')} &nbsp;
          span.c-text-fade
