- var matchSubmissions = phase.get('matchSubmissions') === undefined || phase.get('matchSubmissions')

.c-submit-page-title Submit to #{phase.get('name')}

.c-submit-page-description
  if matchSubmissions
    p.
      To submit to this phase of the challenge, upload your output files here.
      The output files must map one-to-one to each file from the input
      dataset. Your files may have different file extensions, but otherwise
      the names should match each corresponding input file.
  else
    p.
      To submit to this phase of the challenge, upload your output files here.
  p.
    Before uploading your submission, please fill out the information below,
    including a short title that describes your submission. This title doesn't have to be
    unique, but it will appear in the leaderboard with your submission. The title
    should be no more than #{maxTextLength} characters.
  p.
    Users are allowed to tag submissions as belonging to a specific "approach" to solving
    the problem.  Each approach is scored independently and displayed on the leaderboard
    with the user's name.  The text box below will autocomplete with existing approaches,
    or you can choose to provide a new approach for this submission.  By default this tag
    is empty, indicating the standard approach.

  p.
    Use the button below to select all of the files, or drag and drop them onto
    the button. If the selection is valid, you can upload them. Once done, your
    submission is complete and your result will be scored. When the scoring is
    done, it will appear on this page and in the leaderboard for this phase.

.c-submit-uploader-container
  .c-submission-mismatch-container
  .form-group
    label Submission title
    input.c-submission-title-input.form-control(type="text", maxlength=maxTextLength)
  .form-group
    label Submission approach (optional)
    input.c-submission-approach-input.form-control.typeahead(
      type='text', data-provide='typeahead', autocomplete='off', value=approach)
  if phase.enableOrganization()
    .form-group
      label
        | Organization or team name
        if !phase.requireOrganization()
          |  (optional)
      input.c-submission-organization-input.form-control(type="text", maxlength=maxTextLength)
  if phase.enableOrganizationUrl()
    .form-group
      label
        | URL for organization or team
        if !phase.requireOrganizationUrl()
          |  (optional)
      input.c-submission-organization-url-input.form-control(type="text", maxlength=maxUrlLength)
  if phase.enableDocumentationUrl()
    .form-group
      label
        | URL for documentation about your submission
        if !phase.requireDocumentationUrl()
          |  (optional)
      input.c-submission-documentation-url-input.form-control(type="text", maxlength=maxUrlLength)
  .c-submission-validation-error
  .c-submit-upload-widget
