- var matchSubmissions = phase.get('matchSubmissions') === undefined || phase.get('matchSubmissions')

.c-submit-page-title Submit to #{phase.get('name')}

.c-submit-page-description
  if matchSubmissions
    p.
      To submit to this phase of the challenge, upload your output files here.
      The output files must map one-to-one to each file from the input
      dataset. Your files may have different file extensions, but otherwise
      the names should match each corresponding input file.
  else
    p.
      To submit to this phase of the challenge, upload your output files here.
  p.
    Before uploading your submission, please fill out the information below,
    including a short title that describes your submission. This title doesn't have to be
    unique, but it will appear in the leaderboard with your submission. The title
    should be no more than #{maxTextLength} characters.
  p.
    Use the button below to select all of the files, or drag and drop them onto
    the button. If the selection is valid, you can upload them. Once done, your
    submission is complete and your result will be scored. When the scoring is
    done, it will appear on this page and in the leaderboard for this phase.

.c-submit-uploader-container
  .c-submission-mismatch-container
  .form-group
    label Submission title
    input.c-submission-title-input.form-control(type="text", maxlength=maxTextLength)
  if phase.get('enableOrganization')
    .form-group
      label Organization or team name
      input.c-submission-organization-input.form-control(type="text", maxlength=maxTextLength)
  if phase.get('enableOrganizationUrl')
    .form-group
      label URL for organization or team
      input.c-submission-organization-url-input.form-control(type="text", maxlength=maxUrlLength)
  if phase.get('enableDocumentationUrl')
    .form-group
      label URL for documentation about your submission
      input.c-submission-documentation-url-input.form-control(type="text", maxlength=maxUrlLength)
  .c-submission-validation-error
  .c-submit-upload-widget
